body {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 80vh;
  max-width: 400px;
}

.container h1 {
  margin-bottom: 2px;
  font-size: 52px;
}

.custom-text-color {
  color: rgb(201, 178, 190); 
}

.container{
font-family: 'Roboto', sans-serif;
}

.delete-icon {
  color: rgb(201, 178, 190); 
}
